name: Build and Test - CI

on:
  push:
    branches:
      - main
  # Allow manually triggering
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Git Versioning requires a non-shallow clone
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
      - name: Restore
        run: dotnet restore
      - name: Build
        run: dotnet build --configuration Release --no-restore
      - name: Test
        run: dotnet test --configuration Release --no-build --report-trx --results-directory TestResults --coverage
      - name: Upload test results
        uses: actions/upload-artifact@v4
        with:
          name: test-results
          path: ./TestResults
        if: ${{ always() }} # Always run this step even on failure
